
.resource-packet-config {
    margin: 0;
    padding: 0;
}

.resource-packet-config li {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 12px;
    box-sizing: border-box;
    min-height: 24px;
    margin-bottom: 5px;
    color: #aaa;
}

.resource-packet-float-left {
    flex: 1;
}

.resource-packet-float-left span{
    margin: 0 10px 0 15px;
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.resource-packet-float-right {
    flex: 2;
}

.resource-packet-design-resolution{
    display: flex;
}

.resource-packet-design-resolution editor-unit-input{
    flex: 1;
}

.resource-packet-design-resolution editor-select{
    flex: 2;
}